body {

    font-family: 'Asap', sans-serif;
    font-size: 13px;
    color: #555;
    
}

.row {
    flex-wrap: wrap;
}

.desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

hr {
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 0px;
    clear: both;
}

