<ion-view title="Detail" id="page3" style="background-color:#FAFAFC;">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;" ui-sref="menu.home">
            <img src="img/Riv51h4iRvGZQblHITdA_Logo2.jpg" width="90%" height="auto">
        </div>
        <div style="text-align:center;">
            <img ng-src="{{items.image}}" width="100%" height="100%">
        </div>
        <h4 style="color:#5A5656;font-weight:600;">Anthropologie</h4>
        <h3 style="color:#5A5656;font-weight:600;">{{items.name}}</h3>
        <h3 style="color:#F51010;font-weight:600;">${{items.price | number:2}}</h3>
        
        <div style="color:#000000;">
            <p>Most in-stock items ship within 24 hours of ordering; however, some orders may take up to 48 hours to process. Please note that we do not ship on Saturdays, Sundays or US holidays.</p>

            <p>Orders may be split across multiple shipments, and items ordered together may not be shipped out on the same day. Occasionally, items may be out-of-stock or backordered. You will be alerted in both instances, and in the event of a backorder,
                will be provided an approximate date of shipment. You will be informed if an item is backordered when you add it to your basket or within ten days of placing your order.</p>

            <p>Items ordered through anthropologie.com cannot be shipped to Anthropologie stores.</p>
        </div>
        <div style="text-align:center;" ng-if="items.image1">
            <img ng-src="{{items.image1}}" width="100%" height="auto">
        </div>
        <div style="text-align:center;" ng-if="items.image2">
            <img ng-src="{{items.image2}}" width="100%" height="auto">
        </div>
        <div style="text-align:center;" ng-if="items.image3">
            <img ng-src="{{items.image3}}" width="100%" height="auto">
        </div>
        <div style="text-align:center;" ng-if="items.image4">
            <img ng-src="{{items.image4}}" width="100%" height="auto">
        </div>
        <br>
        <hr>
        <br>
    <p style="font-size: medium;"><strong>You may also like</strong></p>
    
    <div class="row">
        <div class="col col-50" ng-repeat="relate in relateitem" >
        <img ui-sref="menu.detail({id: relate.id})" ng-src="{{relate.image}}" width="100%" height="100%">
        <div><strong>{{relate.name}}</strong></div>
        <div>Anthropologie</div>
        <div>${{relate.price | number:2}}</div>
        </div>
    </div>
            
    </ion-content>

     <ion-footer-bar class="bar">
        <div class="button-bar">
            <button ng-click="addItem(items)" class="button">Add To Crat</button>
        </div>
    </ion-footer-bar>
</ion-view>