<ion-view title="Home">
    <ion-content padding="false">
        <div id="profile-info1">
            <img id="profile-image1" src="img/me.jpg">
            <h3 id="profile-name1">Hi, I'm Flyc!</h3>
            <h3 id="profile-name2">Welcome to my App</h3>
        </div>
        <img class="backimg" src="img/back.jpg" width="100%" style="height:32%;">

        <table style="height: 68%; margin-top: -6px;" width="100%">
            <tr>
                <td class="pice1" ui-sref="menu.shop">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                </td>
                
                <td class="pice2" ui-sref="menu.galery">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td class="pice3" ui-sref="menu.contact">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                </td>
                <td class="pice4" ui-sref="menu.news">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                </td>
            </tr>
        </table>
    </ion-content>
</ion-view>