<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">

            <!--            <ion-nav-back-button></ion-nav-back-button>-->
            <ion-nav-buttons side="left">

                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                
                <button class="button" ng-click="btnClickShow()">
                    <i class="icon ion-search"></i>
                </button>
                <button class="button" ui-sref="menu.cart" ng-disabled="numitem==0">
                    <i class="icon ion-ios-cart" ng-bind="numitem"></i>
                </button>

            </ion-nav-buttons>
        </ion-nav-bar>
        
        <div class="bar bar-subheader search-field" ng-show="showSearchbox">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                  <input ng-model="sname" type="text" placeholder="Search by name..." >
                </label>
                <a ng-disabled="sname==null"  ng-click="btnClickHide()" class="button button-icon ion-ios-search" ui-sref="menu.search({name: sname})">
                </a>
              </div>
        </div>

        
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>

        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">


            <div class="list">

                <a class="item item-icon-left" ui-sref="menu.home" menu-close="">
                    <i class="icon ion-ios-home"></i> Home
                </a>

                <a class="item item-icon-left" ui-sref="menu.product({type:'Dress'})" menu-close="">
                    <i class="icon ion-bowtie"></i> Dress
                </a>

                <a class="item item-icon-left" ui-sref="menu.product({type:'Bag'})" menu-close="">
                    <i class="icon ion-bag"></i> Bag
                </a>

                <a class="item item-icon-left" ui-sref="menu.product({type:'Shoes'})" menu-close="">
                    <i class="icon ion-ios-paw"></i> Shoes
                </a>



            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

<!--
<script type="text/ng-template" id="customTemplate.html">
    <a href="#detail/{{match.model.id}}">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
