<ion-view title="News">
    <ion-content padding="false">
        <img src="img/newslogo.png" style="width: 80%; padding: 8px;">
        <div class="row">
            <div class="col col-40">
               <img src="img/news2.jpg" width="100%">
            </div>   
             <div class="col col-60">
                 <span class="stt">Rosie Huntington-Whiteley and Lily Aldridge Look Absolutely Angelic on the Cover of Elle Australia</span>
                 <p class="dayw">May 23, 2016 by MARINA LIAO</p>
            </div>  
        </div>
         <div class="row">
            <div class="col col-40">
               <img src="img/news3.jpg" width="100%">
            </div>   
             <div class="col col-60">
                 <span class="stt">Allow Alessandra Ambrosio to Demonstrate How to Wear the Freshest Summer Item: The Maxi Dress</span>
                 <p class="dayw">May 22, 2016 by ALESSANDRA FORESTO</p>
            </div>  
        </div>
         <div class="row">
            <div class="col col-40">
               <img src="img/news4.jpg" width="100%">
            </div>   
             <div class="col col-60">
                 <span class="stt">Bella Hadid's Making This Sexy New Label So Major at Australian Fashion Week</span>
                 <p class="dayw">May 16, 2016 by SARAH WASILAK</p>
            </div>  
        </div>
         <div class="row">
            <div class="col col-40">
               <img src="img/news5.jpg" width="100%">
            </div>   
             <div class="col col-60">
                 <span class="stt">You Can Totally Tell These Edgy Dior Sunglasses Are By Rihanna</span>
                 <p class="dayw">May 26, 2016 by MARINA LIAO</p>
            </div>  
        </div>
         <div class="row">
            <div class="col col-40">
               <img src="img/news6.jpg" width="100%">
            </div>   
             <div class="col col-60">
                 <span class="stt">You Won't Believe What Bella Hadid Was Wearing Under Her Sexy Cannes Dress</span>
                 <p class="dayw">May 23, 2016 by SARAH WASILAK</p>
            </div>  
        </div>
         <div class="row">
            <div class="col col-40">
               <img src="img/news7.jpg" width="100%">
            </div>   
             <div class="col col-60">
                 <span class="stt">Yes, You'll Want to Use the Word "Understated" to Describe Kim Kardashian's New Vogue Cover</span>
                 <p class="dayw">May 10, 2016 by HANNAH WEIL MCKINLEY</p>
            </div>  
        </div>
    </ion-content>
</ion-view>